<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo"><img src="<%= asset_path('logo.png') %>"></a>
    <h1>Dr. Geovany Keebler</h1>
      <p>Nomad Trainer</p>
         <% @coaches.find(20,21).each do |coach| %>
          <td><h2><%= coach.weekday %></h2><h2><%= coach.available %> </h2>
          <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-calendar"></span> Schedule</a></td>
        </tr>
      <% end %>
  </div>
</div>
