<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="<%= asset_path('logo.png') %>">
    </a>
    <h1>Guides</h1>
      <p>30 minute Coaching Sessions</p>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/osxgirl"><span class="glyphicon glyphicon-user"></span> Christy Schumm</a>
        <a type="button" class="btn btn-lg btn-primary" a href = "http://linkedin.com/in/heathermarie/"><span class="glyphicon glyphicon-user"></span> Natalia Stanton Jr.</a>
        <a type="button" class="btn btn-lg btn-primary" a href = "mailto: osxgirl@mac.com"><span class="glyphicon glyphicon-user"></span> Nola Murazik V</a>
        <a type="button" class="btn btn-lg btn-primary" a href = "mailto: osxgirl@mac.com"><span class="glyphicon glyphicon-user"></span> Elyssa O'Kon</a>
        <a type="button" class="btn btn-lg btn-primary" a href = "mailto: osxgirl@mac.com"><span class="glyphicon glyphicon-user"></span> Dr. Geovany Keebler</a>
  </div>
</div>
