<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo"><img src="<%= asset_path('logo.png') %>"></a>
    <h1>Christy Schumm</h1>
      <p>Nomad Trainer</p>
        <% @coaches.limit(4).each do |coach| %>
          <td><h2><%= coach.weekday %></h2><h2><%= coach.available %></h2></td>
         <a type="button" class="btn btn-lg btn-primary" href="https://guides.simplybook.me/v2/#book/service/1/count/1/provider/1/"><span class="glyphicon glyphicon-calendar"></span> Schedule</a>
        </tr>
      <% end %>
  </div>
</div>
