<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo"><img src="<%= asset_path('logo.png') %>"></a>
    <h1>Nola Murazik V</h1>
      <p>Nomad Trainer</p>
         <% @coaches.find(9,10,11,12,13).each do |coach| %>
          <td><h2><%= coach.weekday %></h2><h2><%= coach.available %></h2></td>
         <a type="button" class="btn btn-lg btn-primary" href="https://guides.simplybook.me/#book/provider/3"><span class="glyphicon glyphicon-calendar"></span> Schedule</a>
        </tr>
      <% end %>
  </div>
</div>
